/bin
/ProjectFrame/obj
/ProjectFrame/bin
/TestProject/obj
/TestProject/bin
/Wpf_Arrows_Package/bin
/Wpf_Arrows_Package/obj
/TestControlLibrary/obj
/TestControlLibrary/bin
/TemplateLibrary/obj
/TemplateLibrary/bin
/ResourceBase/obj
/ResourceBase/bin
/NModbus4/obj
/NModbus4/bin
/LocalTool/obj
/LocalTool/bin
/FunctionLibrary/obj
/FunctionLibrary/bin
